@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	overflow-x: hidden;
}
header
{
	display: flex;
	align-items: center;
	height: 105px;
	background: #16abf8;
}
header h2
{
	color: #fff;
	margin-bottom: 8px;
}
header h2, .container
{
	width: 976px;
	margin: 0 auto;
}
.container .todo-header
{
	display: flex;
	justify-content: space-between;
	margin: 43px 0 55px;
}
.container .todo-header h1
{
	font-size: 36px;
	color: #111;
}